## Series Demo

In [22]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 新增 Create

In [23]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [24]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [25]:
sdata = {'Ohio':35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
# 因为NaN是一种浮点数float, 所以导致整个 value的type变成float

In [7]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 查找 Read

In [8]:
obj[1], obj2['a']

(7, -5)

In [9]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [10]:
obj2[1:3] # [) 左闭右开 （按index number来）default方式 也就是说如果index number 和 index name 都是数字的情况

b    7
a   -5
dtype: int64

In [11]:
obj2['b':'c'] # [] 左闭右闭 按index名字来）

b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
obj2.values

array([ 4,  7, -5,  3])

### 修改 Set

In [14]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [15]:
obj2[['a', 'b', 'c']] = [1, 2, 3]
obj2

d    6
b    2
a    1
c    3
dtype: int64

In [16]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [18]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [17]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### 删除 Delete

In [28]:
del obj2['a']
obj2

d    4
b    7
c    3
dtype: int64

In [29]:
obj2.drop('c')    # drop操作返回新的对象，原对象不变.  如果确实要删除 (inplace=True)

d    4
b    7
dtype: int64

In [31]:
obj2.drop('c', inplace=True) # 如果确实要删除 (inplace=True)

In [32]:
obj2

d    4
b    7
dtype: int64

In [18]:
obj2.drop(['b', 'd'])

c    3
dtype: int64

In [19]:
obj2

d    6
b    2
c    3
dtype: int64

### 运算

In [20]:
'b' in obj2

True

In [21]:
'e' in obj2

False

In [33]:
obj2

d    4
b    7
dtype: int64

In [22]:
obj2 > 0

d    True
b    True
c    True
dtype: bool

In [23]:
obj2[obj2 > 0] # obj2[（obj2 > 0 & obj2 < 2)]

d    6
b    2
c    3
dtype: int64

In [24]:
obj2 * 2

d    12
b     4
c     6
dtype: int64

In [25]:
np.exp(obj2)

d    403.428793
b      7.389056
c     20.085537
dtype: float64

In [26]:
pd.isnull(obj4)

state
California     True
Ohio          False
Oregon        False
Texas         False
Name: population, dtype: bool

In [27]:
pd.notnull(obj4)

state
California    False
Ohio           True
Oregon         True
Texas          True
Name: population, dtype: bool

In [28]:
obj4.isnull() # Series 和 pd都有 isnull方法

state
California     True
Ohio          False
Oregon        False
Texas         False
Name: population, dtype: bool

In [19]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [20]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [29]:
obj3 + obj4 # Utah               NaN  因为 NaN不能和数值相加

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64